.table-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  overflow: auto;
}

.table {
  display: grid;
  /* gap: 1rem; */
  /* overflow-y: scroll; */
  /* place-content: flex-start inherit; */
  grid-template-rows: auto 1fr;
  background-color: var(--second);
  overflow: hidden;
  margin: 1rem;
  margin-bottom: 0;
  padding: 0rem;
  padding-bottom: 0rem;
  text-align: center;
  border-radius: var(--radius) var(--radius) 0rem 0rem;
}

.table-row,
.head {
  display: grid;
  align-items: center;
  margin-bottom: 1rem;

  background-color: var(--main);
  border-radius: var(--radius);
  grid-template-areas:
    ". . . . . ."
    "div div div div div div";

  cursor: pointer;

  box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.head {
  /* margin-top: -1rem; */
  /* margin-inline: -1rem; */
  margin-bottom: 0rem;
  cursor: default;
  border-radius: 0;
}

.table-data {
  overflow-y: scroll;
  padding: 1rem;
  padding-bottom: 0rem;
}

.table-row > div {
  padding: 2rem;
  grid-area: div;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
